<%- include('head.ejs') %>
<body>
  <h1>Your connections</h1>
  <section class='userContainer'>
<% connections.forEach(function (user){ %>
  <section class='user'>
    <% if(!user.image){ %>
    <img src="/images/Person-placeholder.jpg" alt="profile picture">
    <% } else { %>
    <img src="/images/<%= user.image %>" alt="profile picture">
    <% } %>
    <h3><%= user.first_name + " " + user.last_name%></h3>
    <p><%= user.gender %></p>
    <a href="/connection/<%=user._id%>">View</a>
  </section>
<% }); %>
</section>
<a href="/">Go back to home</a>
</body>
<%- include('footer.ejs') %>
