<%- include('head.ejs') %>
<body>
  <section class='user'>
    <img src="/images/Person-placeholder.jpg" alt="profile picture">
    <h3><%= user.first_name + " " + user.last_name%></h3>
    <p><%= user.gender %></p>
    <form action="/user:id" method="post">
      <input type="hidden" name="user" value="<%= user._id %>">
<button type="submit" name="submitbutton"> Connect! </button>
    </form>
  </section>
</body>
<%- include('footer.ejs') %>
